$primaryColor: #FF0000;
$names: ('','Andrew Theriault','Ashley Theiss','Casey Sampson','Dave Hyatt','Donald (DJ) Ballard','Dustin Roe','Harper Price-Brown','Jan De Graad','Jan Lintag','Jon Ingoldby','Krishna Joliffe');

body {
}

body {
  h1 {
    color: $primaryColor;
  }
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;

  @each $name in $names {
    $i: index($names, $name);
    .member:nth-child(#{$i}) {
      float: left;
      /*border: 1px solid gray;*/
      margin: 10px;
      padding: 6px;
      
      img {
        width: 300px;
        height: 200px;
      }

      div.image {
        width: 300px;
        height: 200px;
        background: {
          image: url("../images/#{$name}.jpg");
          size: 100%;
        }
      }

      div.image:hover {
        background-image: url("../images/#{$name}2.jpg");
      }

    }
      div.name {
        text-align: center;
        content: $name; 
      }
  }
}
